@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("./fonts/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("./fonts/Inter-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: bolder;
  src: url("./fonts/Inter-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: semibold;
  src: url("./fonts/Inter-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: lighter;
  src: url("./fonts/Inter-Thin.ttf") format("otf");
}

:root {
  --primary: "#F36967";
  --secondary: "#FED501";
  --thirdly: "#1FBDAF";
}

* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #030604;
}

.hanger {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-45%);
  display: inline-block;
}
.hanger p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5em;
  padding-left: clamp(1.5em, 4vw, 2.5em);
  line-height: 1.2;
}
.hanger svg {
  width: auto;
  height: 6em;
}
.hanger .digital-ball {
  z-index: 500;
  position: absolute;
  right: 0.9em;
  left: auto;
  top: 0.9em;
  width: 4.2em;
  height: 4.2em;
  transform: translate(0%, 0%);
  background: transparent;
}
.digital-ball .overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: digitalball 6s ease-in-out infinite;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.globe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}
.globe .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0.1em 0px 0px 0.08em var(--color-white);
  animation: circle1 2.7s linear infinite;
  font-size: 0.75em;
}
.globe-wrap {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 0.125em white;
}
.globe :nth-child(1) {
  animation-delay: -1.8s;
}
.globe :nth-child(2) {
  animation-delay: -0.9s;
}
.hanger .digital-ball .globe {
  width: 2.5em;
  height: 2.5em;
  font-size: 0.8em;
}
.globe .circle-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  box-shadow: inset 0px 0px 0px 0.15em white;
  font-size: 0.75em;
}
.globe .circle-hor-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 0%;
  height: 0.15em;
  background: white;
  font-size: 0.75em;
}

.cta_bg {
  width: 170%;
  max-width: none;
  filter: blur(10px);
  pointer-events: none;
  position: absolute;
  top: 53%;
  bottom: 0%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
}

@keyframes circle1 {
  0% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em white;
    width: 100%;
  }
  49% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em white;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    width: 0.175em;
    background: white;
  }
  51% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em white;
    background: transparent;
  }

  100% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em white;
    width: 100%;
  }
}

@keyframes globe {
  0% {
    transform: translate(-50%, -50%) rotate(15deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

.clipText {
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle at 220% 210%,
    rgba(255, 255, 255, 0),
    #fff
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.mySwiperCarousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  width: 100% !important;
  overflow: visible !important;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.mySwiperCarousel .swiper-wrapper {
  cursor: grab;
  flex-flow: row;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex;
  overflow: visible !important;
}

.mySwiperCarousel .swiper-slide {
  width: 45vw !important;
  aspect-ratio: 604/480;
  border: 1.5px solid rgba(0, 255, 239, 0.08);
  border-radius: 1rem;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2rem;
  transition: border 0.3s, box-shadow 0.3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.mySwiperCarousel .swiper-slide img {
  transition: transform 0.3s ease;
  transform: scale(0.9);
}

.mySwiperCarousel .swiper-slide-active img {
  transform: scale(1) !important;
}

.mySwiperCarousel .swiper-slide-active {
  -webkit-box-shadow: 0px 0px 120px 0px rgba(0, 97, 89, 0.4);
  -moz-box-shadow: 0px 0px 120px 0px rgba(0, 97, 89, 0.4);
  box-shadow: 0px 0px 120px 0px rgba(0, 97, 89, 0.4);
  border-color: rgba(0, 255, 239, 0.4);
}

.conversion_card-content-wrapper {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.86) 25%);
}

.mySwiperCarousel .swiper-slide:hover {
  border-color: rgba(0, 255, 239, 0.2);
}
.mySwiperCarousel .swiper-slide-active:hover {
  border-color: rgba(0, 255, 239, 0.4);
}

.splen {
  transition: box-shadow 0.2s, border 0.2s;
  border-top-left-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
}

.splen:hover {
  border-color: rgba(0, 255, 239, 0.5);
  box-shadow: 0 0 40px rgba(0, 255, 239, 0.3);
}

.client-gallery_image-wrapper-splider {
  transition: box-shadow 0.2s, border 0.2s;
}

.client-gallery_image-wrapper-splider:hover {
  border-color: rgba(0, 255, 239, 0.5);
  box-shadow: 0 0 40px rgba(0, 255, 239, 0.3);
}

.scale_banner-text {
  background: radial-gradient(
    104.17% 104.17% at 50% 13.54%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-behind-faq {
  opacity: 0.72 !important;
  background-image: linear-gradient(
    105deg,
    rgba(0, 255, 239, 0.3),
    rgba(0, 255, 239, 0.35) 36%,
    rgba(0, 255, 239, 0.25)
  ) !important;
}

.glow-behind-faq {
  z-index: 2;
  width: 40vw;
  height: 20vw;
  max-height: 600px;
  max-width: 1000px;
  filter: blur(190px);
  pointer-events: none;
  background-image: linear-gradient(
    105deg,
    rgba(93, 180, 211, 0.43),
    rgba(8, 115, 215, 0.45) 36%,
    rgba(57, 231, 168, 0.69)
  );
  border-radius: 60%;
  position: absolute;
  top: 55%;
  bottom: 0%;
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.glow-behind-faq.is-home {
  opacity: 0.72 !important;
  background-image: linear-gradient(
    105deg,
    rgba(0, 255, 239, 0.3),
    rgba(0, 255, 239, 0.35) 36%,
    rgba(0, 255, 239, 0.25)
  ) !important;
}

.faq_fade {
  width: 100%;
  height: 30%;
  pointer-events: none;
  background-image: linear-gradient(
    #030604,
    rgba(3, 6, 4, 0.39) 25%,
    rgba(3, 6, 4, 0)
  );
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.faq_fade.is-bottom {
  background-image: linear-gradient(rgba(3, 6, 4, 0), #030604);
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.splitter_component.is-radius {
  width: 100%;
  height: auto;
  aspect-ratio: 1240/867;
  border: 1px solid #1a1a1e;
  border-radius: 1rem 1rem 0 0;
  border-bottom: none !important;
}

.splitter_component {
  width: 70vw;
  height: 70vh;
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
}

.splitter_before {
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.spliter_after {
  z-index: 2;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.splitter_image.is-after {
  width: auto;
  max-width: none;
  aspect-ratio: 1240/867;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.splitter_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.scale_img-wrapper {
  max-width: 89.25rem;
  aspect-ratio: 1428/548;
  justify-content: center;
  align-items: center;
  display: flex;
}

.scale_img-wrapper img {
  width: 100%;
  max-width: none;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.button-n:hover {
  filter: saturate(180%);
  color: #172c2b;
  border-color: #16948c;
  box-shadow: 0 0 40px rgba(0, 255, 239, 0.6);
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

.rotateArrow {
  transform: rotateZ(180deg);
  transition: transform 0.4s ease;
}

.rotateBack {
  transform: rotateZ(0deg);
  transition: transform 0.4s ease;
}

.price_tab-link_a {
  border-color: #00ffef;
  color: #00ffef;
  background-color: rgba(255, 255, 255, 0);
  background-image: radial-gradient(
    circle at 50% 110%,
    rgba(0, 255, 239, 0.3),
    rgba(0, 255, 239, 0)
  );
}

.price_tab-link_a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.price_tab-link_b {
  border-color: #00ffef;
  color: #00ffef;
  background-color: rgba(255, 255, 255, 0);
  background-image: radial-gradient(
    circle at 50% 110%,
    rgba(0, 255, 239, 0.3),
    rgba(0, 255, 239, 0)
  );
}

.price_tab-link_b:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.price_opacity {
  animation: opacity_price 0.3s ease-in-out;
}

@keyframes opacity_price {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.price_opacityy {
  animation: opacity_pricee 0.3s ease-in-out;
}

@keyframes opacity_pricee {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .mySwiperCarousel .swiper-slide {
    width: 70% !important;
  }
}
@media screen and (max-width: 800px) {
  .prev-arrow svg {
    width: 32px !important;
    height: 32px !important;
  }
  .next-arrow svg {
    width: 32px !important;
    height: 32px !important;
  }
  .mySwiperCarousel .swiper-slide {
    margin-right: 1rem !important;
  }
  .mySwiperCarousel .swiper-slide svg {
    width: 20px;
    height: 20px;
  }
  .glow-behind-faq {
    width: 100vw;
    height: 70vw;
  }
}
@media screen and (max-width: 550px) {
  .mySwiperCarousel .swiper-slide {
    width: 90% !important;
  }
  .scale_img-wrapper img {
    height: 150% !important;
  }
}
@media screen and (max-width: 400px) {
  .carouselh2 {
    font-size: max(10vw, 6.5vw) !important;
  }
}
